<mat-card>
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" [disableRipple]="true">

    <mat-tab label="RGB"> 
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <h1>R</h1>
          <mat-slider #sliderRed [max]="255" (input)="onChangeRedSlider($event)" class="slide-red"></mat-slider>
          <h1 class="text-value">{{colorService.rgb.red}}</h1>
        </div>
        <div fxLayout="row">
          <h1>G</h1>
          <mat-slider #sliderGreen [max]="255" (input)="onChangeGreenSlider($event)" class="slider-green"></mat-slider>
          <h1 class="text-value">{{colorService.rgb.green}}</h1>
        </div>
        <div fxLayout="row">
          <h1>B</h1>
          <mat-slider #sliderBlue [max]="255" (input)="onChangeBlueSlider($event)" class="slide-blue"></mat-slider>
          <h1 class="text-value">{{colorService.rgb.blue}}</h1>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="HSB"> 
      <ng-template matTabContent>
        <div fxLayoutAlign="center center">
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="CMYK"> 
      <ng-template matTabContent>
        <div fxLayoutAlign="center center">
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
        </div>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</mat-card>
