<mat-card>
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" [disableRipple]="true">

    <mat-tab label="RGB"> 
      <div fxLayoutAlign="center center">
        <h1>R: {{rgb.red}}</h1>
        <mat-slider #sliderRed [max]="255" (input)="onChangeRedSlider($event)" class="red-slider"></mat-slider>
        <h1>G: {{rgb.green}}</h1>
        <mat-slider [max]="255" (input)="onChangeGreenSlider($event)"></mat-slider>
        <h1>B: {{rgb.blue}}</h1>
        <mat-slider [max]="255" (input)="onChangeBlueSlider($event)"></mat-slider>
      </div>
    </mat-tab>

    <mat-tab label="HSB"> 
      <ng-template matTabContent>
        <div fxLayoutAlign="center center">
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="CMYK"> 
      <ng-template matTabContent>
        <div fxLayoutAlign="center center">
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
          <mat-slider aria-label="unit(s)"></mat-slider>
        </div>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</mat-card>
