<mat-card>
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="onChangeTab()" [disableRipple]="true">
    <mat-tab label="Upload Image"> 
      <div class="tab-contents" fxLayoutAlign="center center">
        <mat-card class="file-button" fxLayoutAlign="center center">
          <mat-icon>image</mat-icon>
          <p>Select or Drop Image</p>
          <input class="file-input" type="file" accept="image/*" (change)="onChangeInputImage($event)">
        </mat-card>
      </div>
    </mat-tab>
    <!-- TODO: 外部から取得した画像は別ドメインのリソースへのアクセスとなる為制限がありCanvasからの色取得が不可能。自前サーバをかます必要あり。 -->
    <!-- <mat-tab label="Image URL">
      <div fxLayout="column" fxLayoutAlign="space-around center" class="tab-contents">
        <input #box placeholder="Input Image URL" id="input-image" type="url" (keyup.enter)="onEnter(box.value)">
        <button mat-stroked-button>OK</button>
      </div>
    </mat-tab> -->
    <mat-tab label="Paste Clipboard"> 
      <ng-template matTabContent>
        <div class="tab-contents" fxLayoutAlign="center center">
          <mat-card id="card-paste-area" class="file-button" fxLayoutAlign="center center">
            <mat-icon>image</mat-icon>
            <p>Cmd + V</p>
          </mat-card>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
