.tab-contents {
  height: 120px;
}

.file-button {
  height: 90%;
  width: 90%;
  border-radius: 4px;
  background-color: #e2e6ec;
  color: gray;
  &:hover {
    background: linear-gradient(-135deg, #E4A972, #9941D8);;
    color: white;
  }
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

#input-image {
  width: 60%;
  height: 30px;
  margin-top: 10px;
}
