<div *ngFor="let test of tests" id="container-tools">
  <p class="font-medium-size-bold">{{test}}</p>

  <div fxLayout="row wrap" fxLayoutAlign="space-around">
  
    <mat-card class="card-tool">
      <div fxLayout="column" class="max-size">
        <div fxFlex="15">
          <p class="font-small-size">Image Color Picker</p>
        </div>
        <div id="box-image" fxFlex="55"></div>
        <div fxFlex="30">
          <p class="font-xsmall-size">Pick color from Image. Pick color from Image. Pick color from Image</p>
        </div>
      </div>
    </mat-card>

    <mat-card class="card-tool">
      <p class="font-small-size">Color Picker</p>
    </mat-card>
  </div>
</div>
