<div *ngFor="let toolBox of toolBoxes" id="container-tools">
  <p class="font-medium-size-bold">{{toolBox.name}}</p>
  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card class="card-tool" *ngFor="let tool of toolBox.tools" (click)="navigateTo(tool.url)">
      <div fxLayout="column" class="fit-parent">
        <div fxFlex="15">
          <p class="font-small-size">{{tool.name}}</p>
        </div>
        <div fxFlex="55" fxLayoutAlign="center stretch">
          <img src="../../../../../assets/images/test.jpg">
        </div>
        <div fxFlex="25">
          <p class="font-xsmall-size">{{tool.caption}}</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
