.card-tool {
  width: 170px;
  height: 170px;
  margin-top: 15px;
}

#container-tools {
  background: #edf2ed;
  border: yellow;
  margin-top: 20px;
  padding: 15px;
}

#box-image {
  background: #8a27af;
}

.max-size {
  width: 100%;
  height: 100%;
}

p {
  line-height: normal;
}