.card-tool {
  width: 180px;
  height: 180px;
  margin-top: 15px;
  cursor: pointer;
  &:hover {
    transition: background-color 0.4s;
    background-color: #f0f0ff;
  }
}

#container-tools {
  background: #f7f5ef;
  margin-top: 20px;
  padding: 15px;
}
