<div id="app-footer" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="container-pages" fxLayout="row wrap" fxLayoutAlign="space-evenly">
    <span class="item font-xsmall-size" (click)="navigateTo('f/contact')">Contact</span>
    <span class="item font-xsmall-size">Privacy Policy</span>
    <span class="item font-xsmall-size">Disclaimer</span>
    <span class="item font-xsmall-size">Terms Of Use</span>
  </div>
  <div id="container-toolbar">
    <p id="copyright" class="font-xxsmall-size">© 2021 nmurata</p>
  </div>
</div>
