#app-footer {
  margin-top: 50px;
  background-color: black;
}

#container-toolbar {
  height: 30px;
}

.item {
  width: 100px;
  color: #fff;
  display: block;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #5e5f60;
  }
}

.container-pages {
  margin-top: 10px;
  width: 50%;
}

#copyright {
  // margin-top: 10px;
  color: white;
  margin: 0;
}