#container-satuation-list {
  margin-top: 15px;
}

.box-color {
  width: 140px;
  height: 140px;
  background-color: red;
  margin: 10px;
  border-radius: 8px;
}

.box-text {
  width: 120px;
  height: 30px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
}

.box-hsl-text {
  margin-top: 15px;
  margin-left: 10px;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
}
