// $main-font-family: 'Source Sans Pro', sans-serif;
$main-font-family: 'Noto Sans JP', sans-serif;
.font-main {
  font-family: $main-font-family;
}

.font-xxsmall-size {
  font-size: 10px;
  font-family: $main-font-family;
}
.font-xsmall-size {
  font-size: 12px;
  font-family: $main-font-family;
}
.font-small-size {
  font-size: 14px;
  font-family: $main-font-family;
}
.font-normal-size {
  font-size: 18px;
  font-family: $main-font-family;
}
.font-20 {
  font-size: 20px;
  font-family: $main-font-family;
}
.font-medium-size {
  font-size: 30px;
  font-family: $main-font-family;
}
.font-big-size {
  font-size: 40px;
  font-family: $main-font-family;
}

.font-medium-size-bold {
  @extend .font-medium-size;
  font-weight: bold;
}
.font-small-size-bold {
  @extend .font-small-size;
  font-weight: bold;
}
