.slide-red {
  .mat-slider-thumb,
  .mat-slider-thumb-label,
  .mat-slider-track-fill {
    background-color: red !important;
  }
  .mat-slider-thumb {
    background-color: red !important;
  }
  .mat-slider-thumb-label {
    background-color: red !important;
  }
  .mat-slider-track-fill {
    background-color: red !important;
  }
}

.slider-green {
  .mat-slider-thumb,
  .mat-slider-thumb-label,
  .mat-slider-track-fill {
    background-color: green !important;
  }
  .mat-slider-thumb {
    background-color: green !important;
  }
  .mat-slider-thumb-label {
    background-color: green !important;
  }
  .mat-slider-track-fill {
    background-color: green !important;
  }
}

.slide-blue {
  .mat-slider-thumb,
  .mat-slider-thumb-label,
  .mat-slider-track-fill {
    background-color: blue !important;
  }
  .mat-slider-thumb {
    background-color: blue !important;
  }
  .mat-slider-thumb-label {
    background-color: blue !important;
  }
  .mat-slider-track-fill {
    background-color: blue !important;
  }
}
