<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <div id="container-user">
      <h1>test </h1>
    </div>
    <mat-nav-list>
      <div *ngFor="let toolBox of toolBoxes">
        <p>{{toolBox.name}}</p>
        <mat-list-item *ngFor="let tool of toolBox.tools">
          <a [routerLink]="[tool.url]">{{tool.name}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <div class="container" fxLayout="column" fxLayoutAlign="space-between">
    <app-header [class.dark-theme]="!isLight"></app-header>
    <router-outlet></router-outlet>
    <app-footer [class.dark-theme]="!isLight"></app-footer>
  </div>
</mat-drawer-container>
