p {
  margin: 0;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: auto;
}
mat-drawer {
  width: 300px;
}

#container-user {
  height: 100px;
  width: 100%;
}

.link-title {
  margin-top: 13px;
  margin-left: 10px;
}
.link {
  display: block;
  padding: 6px;
}

.mat-list-item {
  height: auto;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
}
