<mat-card id="picked-color-card">
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <p class="title">Selected</p>
    <button mat-stroked-button>RGB: {{ selectedRGB }}</button>
    <button mat-stroked-button class="color-button">HEX: #2596be</button>
    <button mat-stroked-button class="color-button">CMYK: 0 0 0 0</button>
    <div class="color-display"></div>
  </mat-card-content>

  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <p class="title">Current Point</p>
    <button mat-stroked-button>RGB: 0 0 0</button>
    <button mat-stroked-button class="color-button">HEX: #2596be</button>
    <button mat-stroked-button class="color-button">CMYK: 0 0 0 0</button>
    <div class="color-display"></div>
  </mat-card-content>
</mat-card>
